* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
img {
  display: block;
}
.tvp-down-btns {
  display: flex;
  align-items: center;
  padding-top: 50%;
}
.down2 {
  text-align: center;
  width: 100%;
  padding-top: 0px;
}
.down2 a {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.down2 img {
  display: block;
  text-align: center;
  margin-top: 85%;
  margin-bottom: 0%;
  animation: move 1.8s infinite;
}
.top1 {
  margin-bottom: 2rem;
}
.top1 img {
  width: 100%;
  margin-top: -2rem;
}
.top3 {
  padding-left: 0.45rem;
}
.top3 img {
  width: 94%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
  width: 94%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: -50px;
}
.swiper .swiper-slide {
  width: 100%;
}
.swiper .swiper-slide img {
  margin-bottom: 0%;
  width: 100%;
}
.top2 img {
  width: 94%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.note {
  color: #fff;
  width: 100%;
  padding: 0 5%;
  box-sizing: border-box;
  font-size: 0.7rem;
  text-align: left;
}
.note1,
.note2 {
  width: 100%;
  padding: 0 5%;
  color: #fff;
  box-sizing: border-box;
  font-size: 0.7rem;
  text-align: left;
  position: absolute;
}
.note1 {
  top: 10%;
}
.active {
  color: #d5ba82;
}
.foot {
  position: fixed;
  width: 564px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 0;
  box-sizing: border-box;
  z-index: 99;
}
.foot a {
  width: 100%;
}
.foot a img {
  width: 100%;
  display: block;
}

.kf {
  position: fixed;
  right: 0;
  top: 14%;
  margin: auto;
  z-index: 999;
  width: 4rem;
  height: 4rem;
}
.kf img {
  width: 100%;
}

.fb {
  position: fixed;
  right: 0;
  top: 22%;
  margin: auto;
  z-index: 999;
  width: 4rem;
  height: 4rem;
}
.fb img {
  width: 100%;
}
.ws {
  position: fixed;
  right: 0;
  top: 30.5%;
  margin: auto;
  z-index: 999;
  width: 4rem;
  height: 4rem;
}
.ws img {
  width: 100%;
}
.tg {
  position: fixed;
  right: 0;
  top: 39%;
  margin: auto;
  z-index: 999;
  width: 8rem;
  height: 8rem;
}
.tg img {
  width: 100%;
}
#times1 {
  top: 44%;
}
#times2 {
  top: 54%;
}
#times3 {
  top: 63.5%;
}
.pagcor {
  margin-top: -15%;
  margin-left: 88%;
  margin-bottom: 10%;
}
.pagcor img {
  width: 90%
}

.foot img {
  width: 100%;
}

.message {
  display: none;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  text-align: center;
  position: absolute;
}
.modal {
display: none;
position: fixed;
z-index: 9999;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
padding-top: 60px;
}
.modal-content {
background-color: #fefefe;
margin: 5% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
border-radius: 10px;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#modalMessage {
font-size: 1.5rem;
}
@keyframes move {
  0% {
    transform: scale(0.98) translate(0px, 2px);
  }
  50% {
    transform: scale(1) translate(0px, 0px);
  }
  100% {
    transform: scale(0.98) translate(0px, 2px);
  }
}
.content {
  width: 564px;
  min-height: 100vh;
  background: url("../img/bg.png") no-repeat 100% -1%/100% auto, #292454;
  margin: 0 auto;
  padding-bottom: 7.6rem;
}
.down img {
  width: 100%;
}
.top {
  position: relative;
}
.top img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .tvp-down-btns {
    padding-top: 30%;
  }
  .down2 img {
    display: block;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 0%;
    animation: move 1.8s infinite;
    width: 90%;
  }
  .top1 {
    margin-top: -2rem;
  }
  .kf img {
    width: 100%;
  }
  
  .fb {
    right: 1%;
  }
  .ws {
    right: 1%;
  }
  .tg {
    right: 1%;
  }
  #times1 {
    right: 1%;
  }
  #times2 {
    right: 1%;
  }
  #times3 {
    right: 1%;
  }
}
@media (max-width: 550px) {
  .content,
  .foot {
    width: 100%;
    max-width: 750px;
  }
}
